{% extends 'partials/base.html' %}
{% load static %}

{% block content %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>kyim - sign in</title>
  <link rel="shortcut icon" href="{% static 'assets/images/logo/transparent_logo.png' %}" type="image/x-icon">
  <link rel="stylesheet" href="{% static 'assets/css/sign-in.css' %}">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
</head>

<body>
<!-- general function -->
    <div class="general">
        <div class="image_login">
            <img src="{% static 'assets/images/icons/undraw/undraw_gone_shopping_re_2lau.svg' %}" class="move" data-speed="-3">
        </div>
        <div class="function">
            <div class="heading_s1">
                <h1 class="mb-5">Log-in</h1>
                <p class="mb-30">Don't have an account? <a href="{% url 'userauths:sign-up' %}" class="link_create">Create here</a></p>
            </div>    
            <form method="POST" class="form_general">
                {% csrf_token %}
                <div class="form-group">
                    <input type="text" class="input_type" name="email" placeholder="Username or Email" />
                </div>
                <div class="form-group">
                    <input required type="password" class="input_type" name="password" placeholder="Your password" />
                </div>
                <button type="submit" class="buttonLogin">Login</button>
            </form>
        </div>
    </div>
<!-- general function -->



{% endblock %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js"></script>
    <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
    <script src="{% static 'assets/js/sign-in.js' %}"></script>
    </body>
</html>

