@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");


 
* {
  margin: 0; padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

/* <!-- general function --> */
.general {
  display: flex;
  align-items: center;
  justify-content: center;
}

.image_login {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 30px;
}

.move {
  width: 100%;
  max-width: 400px;
  height: auto;
}

.function {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}
.heading_s1 {
  display: flexbox;
  justify-content: center;
}


.form-group {
  margin: 10px;
}
.form_general {
  display: flexbox;
  align-items: center;
}

.input_type {
  max-width: 400px;
}

/* <!-- general function --> */