@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap');

* {
  margin: 0; padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "League Spartan", sans-serif;
  /* font-family: "Poppins", sans-serif; */
}

/* header */

header {
  top: 0; left: 0; right: 0;
  z-index: 2;
  position: fixed;
  height: 3.5em;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1.5rem;
  padding: 5px;
  background: transparent;
  height: 3.5em;
  background-color: transparent;
  transition: background-color 0.4s ease-in-out;
  margin: 0; padding: 0;
}

.scrolled .navbar{
  background-color: rgb(255, 255, 255);
  opacity: 0.98;
  margin: 0; padding: 0;
  top: 0; left: 0; right: 0;
}

.logodiv {
  position: absolute;
  left: 3vw;
  padding: 5px;
}

.logo img {
  height: 2.6vw;
  transition: color 0.4s ease-in-out;
}


.logo img:hover {
  opacity:0.5;
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -ms-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out; 
}

.links {
  display: flexbox;
  align-items: first baseline;
  justify-content: baseline;
}

.links > div {
  display: flexbox;
}

.first {
  width: 50%;
  position: absolute;
  left: 20vw;
}
.second {
  position: absolute;
  right: 3vw;
}

a {
  font-size: 1.5vw;
  margin-right: 2rem;
  color: #222e37;
  padding: 3px;
  transition: color 0.4s ease-in-out;
}


a:hover {
  opacity:0.5;
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -ms-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out; 
}

/* header */


/* home */

.container {
  position: relative;
  text-align: center;
}

.image img{
  width: 100%;   
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: transparent;
  margin-top: 30px;
}

.title {
  background-color: transparent;
  font-size:4vw;
  color: #1e201f;
  /* font-family: "Bodoni Moda", serif; */
  font-weight: 500;
  font-family: "League Spartan", sans-serif;
}

.button {
  padding: 50px;
  background-color: transparent;
}

.btn {
  background-color: transparent;
  font-size:2vw;
  color: #375873;
  font-family: "Bodoni Moda", serif;
}

.btn:hover {
  opacity:0.5;
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -ms-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
}
/* --------------------------------------------------------------------------- */
/* .new_season {
  
} */
.pic {
  display: flex;
  justify-content: center;
  align-items: center;
}

.h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  padding-top: 20px;
  font-size: 2.5vw;
  font-weight: 300;
}

h1 {
  font-family: "Bodoni Moda", serif;
}

.header #menu {
  display: none;
  cursor: pointer;
  font-size: 2.5rem;
  color: #ffffff;
}

.gen {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.imgpic {
  width: 100%;
  max-width: 350px;
  height: auto;
  padding: 5px;
}

/* home */





@media (max-width: 991px){
  html{
    font-size: 55%;
  }
}


@media (max-width: 768px){
  .gen {
    display: flexbox;
    align-items: center;
  }
  .header #menu {
    display: inline-block;
    cursor: pointer;
    font-size: 2.5rem;
    color: #ffffff;
  }

  .header .navbar {
    position: fixed;
    top: 0; right: -105%;
    width: 30rem;
    background: #1e201f;
    backdrop-filter: blur(50px);
    transition: .5s;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    z-index: 1200;
  }
}


/* FOOTER */



footer {
  background-color: #ffffff;
  padding-top: 50px;
  width: 100%;
}
.cont {
  width: 1140px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vw;
}
.footer-content{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
h3 {
  font-size: 28px;
  margin-bottom: 15px;
  text-align: center;
}
.footer-content p {
  width: 190px;
  margin: auto;
  padding: 7px;
}
.footer-content ul {
  text-align: center;
}
.list {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.list li {
  width: auto;
  text-align: center;
  list-style-type: none;
  padding: 7px;
  position: relative;
}
.list li::before {
  content: '';
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 100%;
  width: 0;
  height: 2px;
  background: #375873;
  transition-duration: .5s;
}
.list li:hover::before {
  width: 70px;
}
.social-icons {
  text-align: center;
  padding: 0;
}
.social-icons li {
  display: inline-block;
  text-align: center;
  padding: 5px;
}
.social-icons i{
  color: #ffffff;
  font-size: 25px;
}
a {
  text-decoration: none;
}
a:hover {
  color: #222e37;
}
.social-icons i:hover {
  color: aqua;
}
.bottom-bar {
  background: #ffffff;
  text-align: center;
  padding: 10px 0;
  margin-top: 50px;
}
.bottom-bar p {
  color: #1e201f;
  margin: 0;
  font-size: 16px;
  padding: 7px;
}



/* FOOTER */