@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap');

/* .league-spartan-<uniquifier> {
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

* {
  background-color: rgba(187,195,188,255);
  margin: 0; padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  transition: .2 linear;
  font-weight: 380;
  font-family: "League Spartan", sans-serif;
}

html {
  font-size: 62.5%;
}

/* header */

header {
  top: 0; left: 0; right: 0;
  padding: 1rem 9%;
  z-index: 2;
}

.navbar {
  display: flex;
  align-items: first baseline;
}

.logodiv {
  width: 30%;
  align-items: left;
}

.logo {
  width: auto;
}

header .logo img {
  height: 3vw;
}

header .logo img:hover {
  opacity:0.5;
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -ms-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out; 
}

.links > div {
  display: flex;
  justify-content: center;
}

.first {
  width: 50%;
}

header .navbar {
  margin-left: 2rem;
}
header .navbar .nav-item {
  margin-left: 2rem;
}

header .navbar #close {
  display: none;
}

header .navbar a {
  font-size: 1.5vw;
  margin-right: 2rem;
  color: #1e201f;
}

header .navbar a:hover {
  opacity:0.5;
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -ms-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out; 
}

/* .header #menu {
  display: none;
} */


/* header */


/* home */

.container {
  position: relative;
  text-align: center;
}

.image img{
  width: 100%;   
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: transparent;
  margin-top: 30px;
}

.title {
  background-color: transparent;
  font-size:4vw;
  color: #1e201f;
  /* font-family: "Bodoni Moda", serif; */
  font-weight: 500;
  font-family: "League Spartan", sans-serif;
}

.button {
  padding: 50px;
  background-color: transparent;
}

.btn {
  background-color: transparent;
  font-size:2vw;
  color: #375873;
  font-family: "Bodoni Moda", serif;
}

.btn:hover {
  opacity:0.5;
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -ms-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
}

/* home */