@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0; padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "League Spartan", sans-serif;
  /* font-family: "Poppins", sans-serif; */
}

/* header */

header {
  top: 0; left: 0; right: 0;
  z-index: 2;
  position: fixed;
  height: 3.5em;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1.5rem;
  padding: 5px;
  background: transparent;
  height: 3.5em;
  background-color: transparent;
  transition: background-color 0.4s ease-in-out;
  margin: 0; padding: 0;
}

.scrolled .navbar{
  background-color: rgb(255, 255, 255);
  opacity: 0.98;
  margin: 0; padding: 0;
  top: 0; left: 0; right: 0;
}

.logodiv {
  position: absolute;
  left: 3vw;
  padding: 5px;
}

.logo img {
  height: 2.6vw;
  transition: color 0.4s ease-in-out;
}


.logo img:hover {
  opacity:0.5;
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -ms-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out; 
}

.links {
  display: flexbox;
  align-items: first baseline;
  justify-content: baseline;
}

.links > div {
  display: flexbox;
}

.first {
  width: 50%;
  position: absolute;
  left: 20vw;
}
.second {
  position: absolute;
  right: 3vw;
}

a {
  font-size: 1.5vw;
  margin-right: 2rem;
  color: #222e37;
  padding: 3px;
  transition: color 0.4s ease-in-out;
}


a:hover {
  opacity:0.5;
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -ms-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out; 
}

/* header */


/* home */

.container {
  position: relative;
  text-align: center;
}

.image img{
  width: 100%;   
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: transparent;
  margin-top: 30px;
}

.title {
  background-color: transparent;
  font-size:4vw;
  color: #1e201f;
  /* font-family: "Bodoni Moda", serif; */
  font-weight: 500;
  font-family: "League Spartan", sans-serif;
}

.button {
  padding: 50px;
  background-color: transparent;
}

.btn {
  background-color: transparent;
  font-size:2vw;
  color: #375873;
  font-family: "Bodoni Moda", serif;
}

.btn:hover {
  opacity:0.5;
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -ms-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
}
/* --------------------------------------------------------------------------- */
/* .new_season {
  
} */
.pic {
  display: flex;
  justify-content: center;
  align-items: center;
}

.h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  padding-top: 20px;
  font-size: 2.5vw;
  font-weight: 300;
}

h1 {
  font-family: "Bodoni Moda", serif;
}

.header #menu {
  display: none;
  cursor: pointer;
  font-size: 2.5rem;
  color: #ffffff;
}

.gen {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.imgpic {
  width: 100%;
  max-width: 350px;
  height: auto;
  padding: 5px;
}

/* home */





@media (max-width: 991px){
  html{
    font-size: 55%;
  }
  footer {
    padding: 40px;
  }
  footer .box {
    width: 33%;
    display: flex;
    grid-gap: 20px;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .copyrightText {
    padding: 20px;
  }
}


@media (max-width: 768px){
  .gen {
    display: flexbox;
    align-items: center;
  }
  .header #menu {
    display: inline-block;
    cursor: pointer;
    font-size: 2.5rem;
    color: #ffffff;
  }

  .header .navbar {
    position: fixed;
    top: 0; right: -105%;
    width: 30rem;
    background: #1e201f;
    backdrop-filter: blur(50px);
    transition: .5s;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    z-index: 1200;
  }
  footer .box {
    width: 33%;
    display: flex;
    grid-template-columns: repeat(1,1fr);
    grid-gap: 20px;
    flex-direction: column;
  }
}


/* FOOTER */


.general_end {
  display: flex-box;
  justify-content: end;
  align-items: end;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 250;
  font-style: normal;
  padding: 20px;
  background-color: #c8c7c7;
}
footer {
  position: relative;
  width: 100%;
  height: auto;
  padding: 50px 100px 50px 100px;
  background-color: #ffffff;
}
footer .box {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

footer .box .sec h2 {
  position: relative;
  color: #1e201f;
  font-weight: 600;
  margin-bottom: 15px;
}

footer .box .sec p {
  color: #555;
}
.sci {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

footer .box .sci {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(4, 50px);
}
footer .box .sci li a {
  width: 36px;
  height: 36px;
  /* background: #333; */
  display: grid;
  align-items: center;
  justify-content: center;
  list-style: none;
  text-decoration: none;
  list-style-type: none
}
footer .box .sci li a i {
  color: #000000;
  font-size: 20px;
  text-decoration: none;
  list-style-type: none
}

footer .box .quicklinks {
  position: relative;
}
footer .box .quicklinks ul li {
  list-style: none;
  text-decoration: none;
}
footer .box .quicklinks ul li a {
  color: #555;
  text-decoration: none;
  margin-bottom: 10px;
  display: inline-block;
}
footer .box .contact .info {
  position: relative;
}
footer .box .contact .info li {
  display: grid;
  grid-template-columns: 30px 1fr;
  margin-bottom: 16px;
}
footer .box .contact .info li span {
  color: #555;
  font-size: 20px;
}
footer .box .contact .info li a {
  color: #555;
  text-decoration: none;
}

.copyrightText {
  width: 100%;
  background: #fff;
  padding: 30px;
  text-align: center;
  color: #222e37;
  border: 1px solid rgba(0, 0, 0, 0.15);
}


/* FOOTER */