{% extends 'partials/base.html' %}
{% load static %}

{% block content %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>kyim.</title>
  <link rel="shortcut icon" href="{% static 'assets/images/logo/transparent_logo.png' %}" type="image/x-icon">
  <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
</head>

<body>
<!-- /* home */ -->

      <section class="home">

        <div class="container-img">
          <div class="image"><img src="{% static 'assets/images/logo/kyim.webp' %}" alt="" class="index"></div>
          <div class="content">
            <h1 class="title"> Kyim - local brand for you. </h1>
            <div class="button">
              <a href="#new_collection" class="btn"> new season </a>
            </div>
          </div>
        </div>

      </section>

      <div class="new_season" id="new_collection">
        <div class="h1">
          <h1> SPRING COLLECTION </h1>
        </div>
        <div class="gen">
           <!-- THIS PART IS IMPORTANT CAUSE THE DETAILS SHOULD BE DRAGGED FROM DATABASE USING DJANGO -->
          <!-- {% for p in products %}
            <div class="pic">
              <img src="{{ p.image.url }}" alt="" class="imgpic">
              <div class="cat">
                <p class="p_text">{{ p.category.title }}</p> 
                <h1 style="color: black;"><a href="{% url 'core:product-detail' p.pid %}" class="p2_text">{{ p.title }}</a></h2>
                <p class="p_text">{{ p.vendor.title }}</p>
                <p class="p_text">{{ p.price }} tg</p>
              </div>
            </div>
          {% endfor %} -->
          {% for c in categories %}
          <div class="pic">
            <img src="{{ c.image.url }}" alt="" class="imgpic">
            <!-- LIKE THIS!!! -->
            <p><a href="{% url 'core:category-product-list' c.cid %}" class="p2_text">{{ c.title }}</a></p> 
            <p>{{ c.category.count }} Product{{c.category.count|pluralize:"s"}}</p> 
          </div>
          {% endfor %}
        </div>
      </div>

<!-- /* home */ -->


{% endblock %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js"></script>
    <script src="https://kit.fontawesome.com/1165876da6.js" crossorigin="anonymous"></script>
    <script src="{% static 'assets/js/index.js' %}"></script>
  </body>
</html>  