<!DOCTYPE html>
<!---Это я Аружан, пишу для продукт ревью, буду наикдывать там при дизайне просто вставите написанную
часть куда нужно и удалите этот коммент-->
<html lang="en">
    <body>
        <a>Review ({{ reviews.count }})</a>
            <div>
                
                <img src = "https://t3.ftcdn.net/jpg/03/58/90/78/360_F_358907879_Vdu96gF4XVhjCZxN2kCG0THTsSQi8IhT.jpg" alt ="" />
                <!--сыылка для дефолтный картинки юзера если нету профильной картинки-->

            </div>
        <!--это ссылка нужна что бы показывать количество отзывов на продукт типа 
        Отзывы(6) значит на продукт оставили 6 отзывов-->
                <div class = "comment-list">
                    {% for r in reviews %}
                    <div>
                    <!---этот див я скатала, измените его дизайн как нужно НАШЕМУ сайту
                    из бэка тут фор луп для ревью (Удалите коммент)-->

                                <a href = "#" class= "font-heading text-brand">{{r.user.username|title}}</a>
                                <!---ссылка для того что бы ревью брали имя пользователяб при дизайне расположите его правильно!-->
                                <div>
                                    <div>
                                        <span>{{r.date|date:"d M, Y"}}</span>
                                    </div>
                                    <div>
                                        {% for s in r.rating|ljust:r.rating %}
                                            <i class = "fas fa-star text-warning"></i>
                                        {% endfor %}
                                    </div>
                                </div>
                                <p>{{ r.review }}</p>
                    {% endfor %}
                    </div>
                    <div>
                        <!--Для средней оценки-->
                        <h6>{{ average_review.rating|floatformat:1 }} out of 5.0</h6>
                    </div>
                </div>
            <!---для комментария-->
            {% if request.user.is_authenticated %}
            {% if create_review %}

                <div class = "comment-form">
                    <h4 class="mb-15 add-review-here">Add a review</h4>
                        <strong class = "text-success" id= "reviewFinal">  </strong>
                            <form class = "comment-form hide-comment-form" action= "{% url 'core:add-review' p.id %}" id = "commentForm" method="POST"></form>
                                {% csrf_token %}
                                    <div>
                                        
                                        {{review_form.review}}
                                    </div>

                                    <div>
                                        {{review_form.rating}}
                                    </div>
                </div>
            {% endif %}
            {% endif %}
            
    </body>


</html>