{% extends 'partials/base.html' %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>kyim. - product</title>

  <!-- website logo template -->
  <link rel="shortcut icon" href="{% static 'assets/images/logo/transparent_logo.png' %}" type="image/x-icon">

  <link rel="stylesheet" href="{% static 'assets/css/product-detail.css' %}">

  

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">

  

</head>

<body>

    <section class="product-image-slider">
        <!--Здесь достается первая фотка определенного товара-->
        <figure class="border-radius-5">
            <img src="{{p.image.url}}" alt="product image" class='imgpic'/>
        </figure>
        <!--Здесь достаются остального фотки определенного товара-->
        {% for p in p_image %}
        <figure class="border-radius-5">
            <img height="50%" width="50%" src="{{p.images.url}}" alt="product image"/>
        </figure>
        {% endfor %}

        <div class="description">
            <p class="p_text">{{ p.category.title }}</p> 
            <h2 class="p2_text">{{ p.title }}</h2>
            <p class="p_text">{{ p.vendor.title }}</p>
            <div class = "product-price">
                <span class = "product-current-price"><p class="p_text">{{ p.price }} tg</p></span>
            </div>
            <p class="p_text">{{ p.description }}</p>
            <li class="p3_text">Tags: {% for tag in p.tags.all %}<a href="{% url 'core:tags' tag.slug %}" rel="tag">#{{tag.name}}</a>,{% endfor %}</li>
        </div>
    </section>
    <!---################################################### ADD TO CART PART ######################################################-->
    <h1 style=font-size:40px>Add to cart</h1>
    <div>
        <input type = "number" value = "1" name = "" id = "product-quantity" class = "w-25">
        <br>
        <div>
            <input type = "hidden" value = "{{ p.id }}" class = "product-id" name = "" id="">
            <input type = "hidden" value = "{{ p.title }}" class = "product-title" name = "" id="">
            <button type = "submit" id = "add-to-cart-btn"> Add to cart</button>
        </div>
</div>
    &nbsp;
    <hr>
    &nbsp; 
    <!-- ############################ ниже показываются все прошлые ревью каждого юзера ########################################## -->
        <h2>Review ({{ reviews.count }})</h2> 
            <div class = "comment-list">
                {% for r in reviews %}
                <div>
                    <img src = "https://t3.ftcdn.net/jpg/03/58/90/78/360_F_358907879_Vdu96gF4XVhjCZxN2kCG0THTsSQi8IhT.jpg" width="200" 
                    height="200" alt ="" /> &nbsp;
                    <a href = "#" class= "font-heading text-brand">{{r.user.username|title}}</a> &nbsp;
                    <!---ссылка для того что бы ревью брали имя пользователяб при дизайне расположите его правильно!-->
                    <div>
                        <div>
                            <span>{{r.date|date:"d M, Y"}}</span>&nbsp;
                        </div>
                        <div>
                            {% for s in r.rating|ljust:r.rating %}
                                <i class = "fas fa-star text-warning"></i>&nbsp;
                            {% endfor %}
                        </div>
                    </div>
                    <p>{{ r.review }}</p>
                </div>
                &nbsp;
                &nbsp;
                {% endfor %}
                <div>
                    <!--Для средней оценки-->
                    <h2>{{ average_rating.rating|floatformat:1 }} out of 5.0</h2>
                </div>
            </div>

    <!---######################################### для нового комментария ####################################################-->

            {% if request.user.is_authenticated %}
            {% if create_review %}

                <div class = "comment-form">
                    <h2 class="mb-15 add-review-here">Add a review</h2>
                        <strong class = "text-success" id= "reviewFinal">  </strong>
                            <form class = "form-contact comment-form hide-comment-form" action= "{% url 'core:add-review' p.id %}" id = "commentForm" method="POST">
                            
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group">
                                            {{review_form.review}}
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group">
                                            {{review_form.rating}}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="button button-contactForm">Submit Review</button>
                                    </div>
                                </div>
                            </form>
                </div>
            {% endif %}
            {% endif %}
    <!-- ###################################################### Related Products ############################################################################ -->
        <hr>
        &nbsp;
        &nbsp;
        {% if products %}
            <h2>Related Products</h2> <!-- тут он просто вытаскивает другие товары из этой категории -->
        {% endif %}
            <div class="row related-products">
                {% for p in products %}
                    <img class="default" width="20%" height="20%" src="{{ p.image.url }}" alt="related product">
                    <div class = "product-price">
                        <p><a href="{% url 'core:product-detail' p.pid %}" >{{p.title|truncatechars:20}}</a></p>
                        <span class = "product-current-price"><p class="p_text">{{ p.price }} tg</p></span>
                    </div>
                    &nbsp;
                    &nbsp;
                    &nbsp;
                    &nbsp;
                {% endfor %}
            </div>

    </main>
    {% endblock %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js"></script>
    <script src="https://kit.fontawesome.com/1165876da6.js" crossorigin="anonymous"></script>
    <script src="{% static 'assets/js/product-detail.js' %}"></script>
   
</body>

</html>  